@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open_sans), sans-serif !important;
}

.profile-card-container {
  background: #ffffff;
  border-radius: 16px;
  border: 2px solid #e3e3e3;
  padding: 24px;
}
