@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open_sans), sans-serif !important;
}
