@import "tailwindcss";

:root {
    --background: #f6ebe8;
    --foreground: #1a1a1a;
}


body {
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, sans-serif;
}

